@import url('https://fonts.googleapis.com/css?family=Roboto');

body {

  color: black;  
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center; 
}



img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
}

.logo {
   width: 126px;
   height: 16px;
   z-index: 10;
}

.content {
  
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1 {
  margin: 20px;
  font-weight: bold;
}

.subcontent {
  width : 50%;
}

.page p {
  
  font-family: Roboto;
  line-height: 1.5;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  
  font-size: 14px;
}

/*========FOOTER==========*/
footer{
 
  background: #000000;
  height : 3.5em;
  width : 100%;
  display : flex;
  justify-content: flex-start;
  align-items : center;
  color: white;
  margin-top: 100px;


}

.social{
  width : 14px;
  height: 14px;
  margin: 10px;
  margin-left: 20px
}

.facebook{
  width : 8px;
  height: 14px;
  margin: 10px;
}


.twitter{
  width : 17px;
  height: 14px;
  margin: 10px;

}

.copyright{
  font-size : 10px;
  margin-left: 5px;

}


/*========FOOTER==========*/





/* MENU NAV BAR BURGER */
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #150d0f;
  color: #ffffff;
  font-size: 20px;
  height: 42px;
  width: 100%;
  overflow: hidden;
  transition: height 0.7s, width 0.5s, left 0.5s, bottom 0.5s, border-radius 0.3s;
  z-index: 25;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.is-open {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  left: 0;
  bottom: 0;
  z-index: 25;
}

nav.is-open > .dispologo {
  position: fixed;
  top: 15px;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  top: -3px;
  left: 4px;
}

.open-icon {
  transition: background-color 0.3s;  
}

.open-icon,
.open-icon::before,
.open-icon::after {
  width: 21px;
  height: 2px;
  background: #ffffff;
  
}

.open-icon::before,
.open-icon::after {
  content: '';
  display: block;
  transition: transform 0.8s;
}

.open-icon::before {
  transform: translateY(-8px);
}

.open-icon::after {
  transform: translateY(6px);
}

nav.is-open .open-icon {
  background-color: transparent;
}

nav.is-open .open-icon::before {
  transform: translateY(1px) rotate(135deg);
}

nav.is-open .open-icon::after {
  transform: translateY(-1px) rotate(-135deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transform: translateY(-50vh);
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s;
}

nav.is-open ul {
  transform: none;
  opacity: 1;
}

nav:not(.is-open) ul {
  pointer-events: none;
}

.menu1,
.menu2,
.menu3 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: Helvetica;  
}
a {
  text-decoration: none; 
  color: inherit;
}

li:not(:last-child) {
  margin-bottom: 20px;
}
/* SUBCLASS */
.fontproduct {
  font-size: 14px;
}
.fontarticle {
  font-size: 14px;
}
.subclass {
  margin-top: 10px;
  margin-left: 30px;
}
.menu2 ul {
  display: none;  
}
.menu2.is-open ul {
  display: block;   
}
.menu3 ul {
  display: none;
}
.menu3.is-open ul {
  display: block; 
  margin-left: 175px;
}

.menu2 p {
  text-align: center;
}
.menu2.is-open ul {
  display: block; 
  margin-left: 100px;  
}


.menu3 p{
  text-align:center;
}

/* FIN SUBCLASS */

@media (min-width: 680px) {


  body{

    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color : white;
  }

  .subclass{
    position: absolute;
    background: #150d0f;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
  }

  .content {
  
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color : white;

}

  .content p{
    text-align: left;
    color: white;

  }

.title {
  position : absolute;
  top: 150px;
  left: 60%;
  color: white;
}


  nav {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
  }

  .menu2{
    pointer-events: auto;
  
  }

   /*-------Menu deroulant----------*/
  .menu2.is-open ul{
    height : 82px
  
  }

  .menu2 ul{
    display : inherit;
  }


  .menu3.is-open ul{
    height : 60px
  
  }

  .menu3 ul{
    display: inherit;
  }


  /*----------Menu déroulant anim----------*/

  .menu3{
    pointer-events: auto;
    

  }

  .fontarticle{
    pointer-events: auto;
    margin: 10px;
  }

    .fontproduct{
    pointer-events: auto;
    margin : 10px;
  }

.introduction {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto;
}

.logo2{
  grid-column: 1 / span 2;
  grid-row: 1;
  position: inherit;
  margin : 10% auto;
  

  

}

.ombre-nomade {
  grid-row: 2;
  grid-column: 1;
}

.attrape-reve {
  grid-row: 3;
  grid-column: 2;
}

.etui{
  grid-row: 4;
  grid-column: 1;
}

.bois2{
  grid-row: 2;
  grid-column: 2;
}

.fleur2{
  grid-row: 3;
  grid-column: 1;
}

.muguet2{
  grid-row: 4;
  grid-column: 2;
}

.bois {
  opacity: 1;
}

.fleur {
  opacity: 1;
}

.muguet {
  opacity: 1;
}



.copyright {
  font-size : 14px;
}

.social{
  width : 14px;
  height: 14px;
  
  margin-left: 20px
}

.facebook{
  width : 8px;
  height: 14px;
  
}


.twitter{
  width : 17px;
  height: 14px;
  

}

  .menu{

      position: fixed;
      top: 20px;
      left: 0;
      display: flex; 
      flex-direction: row;
      height: 100vh;
      width: 100vw;
      transition: transform 0.7s, opacity 0.7s;
      opacity: 1;
      justify-content: space-around;

  }

  .menu1{
    display: none;
  }


  .bgfleur {
    display: none;
  }
  
  nav.is-open {
    height: 50px;
  }
  
  .open {
    display: none;
  }

  ul {
    position: static;
    opacity: 1;
    transform: none;
    flex-direction: row;
    justify-content: space-evenly;
  }
  li {
    font-size: 20px;
  }
  li:not(:last-child) {
    margin-bottom: 0;
  }

  footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding-top: 7px;
  margin-top: 100px;
}
}


/*========FOOTER==========*/