body {
  background-color: #150d0f;
  color: white;  
  font-family: 'Roboto', sans-serif;
}
img {
  max-width: 100%;
}
.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
}

.logo2 {
  top: 223px;
  position: absolute;
  width: 171px;
  height: 175px;
  z-index: -1;
}
.logo {
   width: 126px;
   height: 16px;
   z-index: 15;
}
.menu1 {
  font-size: 20px;
  top: 0;
  left: 0;
}
body {
  display: flex;
  justify-content: center;  
}
.bgfleur {
  width: auto;
  z-index: 0;
}
.produit {
  display: flex;
  
}
.imageproduit {
  height: auto;
  width: 100%;
}
.bois {
  height: auto;
  width: 100%;
  z-index: -2;
}
.fleur2 {
  position: relative;
  z-index: 20;
}
.fleur2 h2 {
  position: absolute;
  top: 20%;
  left: 8%;
  text-align: center;
  width: 80%;
  transform: translateY(-50%);
}
.muguet2 {
  position: relative;
  z-index: 20;
}
.muguet2 h2 {
  position: absolute;
  top: 16%;
  left: 8%;
  text-align: center;
  width: 80%;
  transform: translateY(-50%);
}
.bois2 {
  position: relative;
  z-index: 2;
}
.bois2 h2 {
  position: absolute;
  top: 20%;
  left: 8%;
  text-align: center;
  width: 80%;
  transform: translateY(-50%);  
}
.description1 {
  font-weight: 80;
  position: absolute;
  top: 47%;
  left: 8%;
  text-align: center;
  width: 80%;
  transform: translateY(-50%);
}

.bouton1 {
  position: absolute;
  top: 80%;
  left: 4%;
  text-align: center;
  width: 80%;
  transform: translateY(-50%);
  border: solid white 2px;
  padding: 20px;
  z-index: 99999;
}

footer{
  background: #150d0f;
  height : 3.5em;
  width : 100%;
  display : flex;
  justify-content: center;
  align-items : center;
}

/* MENU NAV BAR BURGER */
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #150d0f;
  color: #ffffff;
  font-size: 20px;
  height: 42px;
  width: 100%;
  overflow: hidden;
  transition: height 0.7s, width 0.5s, left 0.5s, bottom 0.5s, border-radius 0.3s;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.is-open {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  left: 0;
  bottom: 0;
  z-index: 25;
}

nav.is-open > .dispologo {
  position: fixed;
  top: 15px;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  top: -3px;
  left: 4px;
}

.open-icon {
  transition: background-color 0.3s;  
}

.open-icon,
.open-icon::before,
.open-icon::after {
  width: 21px;
  height: 2px;
  background: #ffffff;
  
}

.open-icon::before,
.open-icon::after {
  content: '';
  display: block;
  transition: transform 0.8s;
}

.open-icon::before {
  transform: translateY(-8px);
}

.open-icon::after {
  transform: translateY(6px);
}

nav.is-open .open-icon {
  background-color: transparent;
}

nav.is-open .open-icon::before {
  transform: translateY(1px) rotate(135deg);
}

nav.is-open .open-icon::after {
  transform: translateY(-1px) rotate(-135deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transform: translateY(-50vh);
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s;
}

nav.is-open ul {
  transform: none;
  opacity: 1;
}

nav:not(.is-open) ul {
  pointer-events: none;
}

.menu1,
.menu2,
.menu3 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: Helvetica;  
}
a {
  text-decoration: none; 
  color: inherit;
}

li:not(:last-child) {
  margin-bottom: 20px;
}
/* SUBCLASS */
.fontproduct {
  font-size: 14px;
}
.fontarticle {
  font-size: 14px;
}
.subclass {
  margin-top: 10px;
  margin-left: 30px;
}
.menu2 ul {
  display: none;  
}
.menu2.is-open ul {
  display: block;   
}
.menu3 ul {
  display: none;
}
.menu3.is-open ul {
  display: block; 
}

/* FIN SUBCLASS */

@media (min-width: 480px) {
  nav {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
  }
  .bgfleur {
    display: none;
  }
  
  nav.is-open {
    height: 50px;
  }
  
  .open {
    display: none;
  }
  ul {
    position: static;
    opacity: 1;
    transform: none;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  li {
    font-size: 20px;
  }
  li:not(:last-child) {
    margin-bottom: 0;
  }
}


/* FIN NAV MENU BURGER */
