body {
  background-color: #150d0f;
  color: white;  
  font-family: 'Roboto', sans-serif;;
}
.introduction {
  display: flex;
  justify-content: center;
  margin: auto;
}
.img1 {
  height: 400px;
  width: 320px;
}
.dispologo {
  display: flex;
  justify-content: center;
}
.logo {
   position: fixed; 
   top: 13px;
   width: 126px;
   height: 16px;
}
.menu {
  font-size: 20px;
  top: 0;
  left: 0;
}
.grid1 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 45px;
  justify-content: center;
}
ul:nth-child(2){
  grid-row: 1;
  grid-column: 1;
}

/* MENU NAV BAR BURGER */
header {
  position: fixed;
  top: -5px;
  left: -5px;
  background-color: #150d0f;
  color: #ffffff;
  font-size: 20px;
  height: 50px;
  width: 1500px;
  overflow: hidden;
  transition: height 0.7s, width 0.5s, left 0.5s, bottom 0.5s, border-radius 0.3s;
}

header.is-open {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  left: 0;
  bottom: 0;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  top: -3px;
  left: 4px;
}

.open-icon {
  transition: background-color 0.3s;
  
}

.open-icon,
.open-icon::before,
.open-icon::after {
  width: 21px;
  height: 2px;
  background: #ffffff;
  
}

.open-icon::before,
.open-icon::after {
  content: '';
  display: block;
  transition: transform 0.3s;
}

.open-icon::before {
  transform: translateY(-8px);
}

.open-icon::after {
  transform: translateY(6px);
}

header.is-open .open-icon {
  background-color: transparent;
}

header.is-open .open-icon::before {
  transform: translateY(1px) rotate(45deg);
}

header.is-open .open-icon::after {
  transform: translateY(-1px) rotate(-45deg);
}

ul {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transform: translateY(-50vh);
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s;
}

header.is-open ul {
  transform: none;
  opacity: 1;
}

header:not(.is-open) ul {
  pointer-events: none;
}

li {
  font-size: 60px;
  text-transform: uppercase;
  font-family: Helvetica;
}

li:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 480px) {
  header {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
  }
  
  header.is-open {
    height: 50px;
  }
  
  .open {
    display: none;
  }
  
  ul {
    position: static;
    opacity: 1;
    transform: none;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  li {
    font-size: 20px;
  }
  li:nth-child(1) {
    opacity:0;
  }
  
  li:not(:last-child) {
    margin-bottom: 0;
  }
}
/* fin nav */
